.container {
    display: flex;
    height: 50px;
}

.column1 {
    background-color: lightpink;
    width: 100px
}

.column2 {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    width: 200px;
}

.row2 {
    display: flex;
    justify-content: space-between;
}

.row2_item1, .row2_item2 {
    background-color: black;
    color: white;
}